@page "/Checkout/{CartString}"
@using Parduotuve.Data.Entities
@using Parduotuve.Data.Repositories
@using System.Text;
@inject NavigationManager NavManager
@inject ISkinRepository _skinRepository
@inject IJSRuntime JS
@using Stripe.Checkout


@if (CartString!="thanks" && CartString != "failed")
{
    <h2>Your shopping cart:</h2>
    <script>
        window.downloadFileFromStream = async (fileName, contentStreamReference) => {
            const arrayBuffer = await contentStreamReference.arrayBuffer();
            const blob = new Blob([arrayBuffer]);
            const url = URL.createObjectURL(blob);
            const anchorElement = document.createElement('a');
            anchorElement.href = url;
            anchorElement.download = fileName ?? '';
            anchorElement.click();
            anchorElement.remove();
            URL.revokeObjectURL(url);
        }
    </script>

    <table>
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Price</th>
        </tr>
        @foreach ((int, Skin) entry in Cart)
        {
            <tr>
                <td>@entry.Item2.Name</td>
                <td>@entry.Item1</td>
                <td>@(entry.Item2.Price * entry.Item1)</td>
            </tr>
        }
    </table>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            text-align: center;
            padding: 4px;
        }
    </style>

    <h2>Total price: @TotalPrice</h2>
    <MudButton OnClick="HandleCheckout">Finalize purchase</MudButton>
}
else if(CartString == "thanks")
{
    <h2>Thank you for your order!</h2>
    <h3>You will receive your real purchased goods through the means of a file download soon</h3>
}
else
{
    <h2>The purchase failed. Please try again.</h2>
}

@code {
    /// <summary>
    /// The string represenation of the customers' cart
    /// Items are represented by their IDs and separated with the '&' symbol
    /// If the cart contains X amount of an item, the ID of such an item would be repeated X times
    /// Example of a CartString: "1&1&1&2&3&5&6"
    /// In the case that the order was completed, the CartString would be "thanks" in order to display the thank you page, instead of the checkout page
    /// This will likely be replaced and deprecated in the future
    /// </summary>
    [Parameter]
    public string CartString { get; set; } = "";
    /// <summary>
    /// CartString is converted into a list of tuples where the first item represents the amount, while the second item represents the item itself
    /// </summary>
    public List<(int, Skin)> Cart { get; private set; } = new List<(int, Skin)>();
    private double? TotalPrice { get { return (double?)Math.Round((double)Cart.Select((e) => e.Item1 * e.Item2.Price).Sum(),2); } }

    protected override async Task OnInitializedAsync()
    {
        //Do not initialize if order was completed
        if(CartString == "thanks")
        {
            return;
        }

        //Conversion of CartString to Cart
        List<int> ids = CartString.Split('&').Select(str => int.Parse(str)).ToList();
        List<(int, int)> idCart = new List<(int, int)>();

        foreach(int id in ids)
        {
            int foundIndex = -1;
            for (int x = 0; x < idCart.Count; x++)
            {
                if(idCart[x].Item2 == id) {
                    foundIndex = x;
                    break;
                }
            }
            if(foundIndex > -1)
            {
                idCart[foundIndex] = (idCart[foundIndex].Item1+1, idCart[foundIndex].Item2);
            }
            else
            {
                idCart.Add((1, id));
            }
        }
        foreach((int, int) entry in idCart)
        {
            Skin? skin = await _skinRepository.GetByIdAsync(entry.Item2);

            if(skin == null)
            {
                continue;
            }

            Cart.Add((entry.Item1, skin));
        }
    }

    /// <summary>
    /// Creates and returns a stream which contains details regarding the purchased goods
    /// </summary>
    /// <returns>A stream with a text representation with the purchased goods</returns>
    private Stream GetFileStream()
    {
        string contents = "";

        contents += "You are hereby the real owner of the following purchased goods:\n";
        foreach((int, Skin) entry in Cart)
        {
            for(int x = 0; x < entry.Item1; x++)
            {
                contents += entry.Item2.Name+"\n";
            }
        }

        byte[] contentBytes = Encoding.UTF8.GetBytes(contents);

        MemoryStream memoryStream = new MemoryStream(contentBytes);

        return memoryStream;
    }
    private static Dictionary<double, string> StripePriceIDs = new Dictionary<double, string>()
    {
        {9.99,"price_1R9V8TCeO2Ku9PZcbDIXGUFs"},
        {14.99, "price_1R9V93CeO2Ku9PZcxNQmsdiS"},
        {19.99, "price_1R9V9WCeO2Ku9PZcY1k8PM1M"},
        {49.99, "price_1R9V9wCeO2Ku9PZcuZyiDTlc"},
        {99.99, "price_1R9VB6CeO2Ku9PZcf6qgJkNn"},
    };
    /// <summary>
    /// This method handles the event of clicking the confirm purchase button
    /// It is responsible for performing verification and delivering the purchased items
    /// </summary>
    private async Task HandleCheckout()
    {
        List<SessionLineItemOptions> lineItems = new List<SessionLineItemOptions>();

        foreach ((int, Skin) entry in Cart)
        {
            var option = new SessionLineItemOptions();
            option.Quantity = entry.Item1;
            option.Price = StripePriceIDs.GetValueOrDefault<double,string>(entry.Item2.Price ?? 99.99, StripePriceIDs.Values.Last());
            lineItems.Add(option);
        }

        SessionCreateOptions options = new SessionCreateOptions()
            {
                LineItems = lineItems,
                Mode = "payment",
                SuccessUrl = NavManager.BaseUri+"Checkout/thanks",
                CancelUrl = NavManager.BaseUri + "Checkout/failed",
            };

        var service = new SessionService();
        var session = await service.CreateAsync(options);
        NavManager.NavigateTo(session.Url);

        // Stream fileStream = GetFileStream();
        // string fileName = "wares.txt";

        // using DotNetStreamReference streamRef = new DotNetStreamReference(stream: fileStream);

        // await JS.InvokeVoidAsync("downloadFileFromStream", fileName, streamRef);

        // NavManager.NavigateTo("/Checkout/thanks");
    }
}
