@page "/Example"
@using Parduotuve.Data.Repositories
@using Parduotuve.Data.Entities
@inject ISkinRepository _skinRepository
@inject NavigationManager _navigationManager

<h3>Add New Skin</h3>

<EditForm Model="newSkin" FormName="NewSkinForm" OnValidSubmit="AddSkin">
    <DataAnnotationsValidator />

    <div>
        <label>Name:</label>
        <InputText @bind-Value="newSkin.Name"/>
    </div>
    <div>
        <label>Price:</label>
        <InputNumber @bind-Value="newSkin.Price"/>
    </div>
    <button type="submit">Add Skin</button>
</EditForm>

@if (skins == null)
{
    <p>Loading...</p>
}
else
{
    <ul>
        @foreach (var skin in skins)
        {
            <li>@skin.Name - @skin.Price</li>
        }
    </ul>
}

@code {
    private IEnumerable<Skin>? skins;
    
    protected override async Task OnInitializedAsync()
    {
        skins = await _skinRepository.GetAllAsync();
    }
    private Skin newSkin = new();

    private async Task AddSkin()
    {
        await _skinRepository.AddAsync(newSkin);
        newSkin = new();
        await OnInitializedAsync();
    }
}
