@page "/AdminPanel/{SecretParam?}"
@using Parduotuve.Data.Repositories
@using Parduotuve.Data.Entities
@inject ISkinRepository _skinRepository
@inject NavigationManager NavManager

@if (SecretParam == null || !SecretParam.Equals(AdminLoginPage.Secret))
{
    <h3>You do not have permission to view this page</h3>
    return;
}

@if(popupIsOpen)
{
    <div class="modal" tabindex="-1" role="dialog" style="display:block">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add New Skin</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="ClosePopup"></button>
                </div>
                <EditForm Model="newSkin" OnValidSubmit="AddSkin">
                    <DataAnnotationsValidator />
                    <div class="modal-body">
                        <table>
                            <tr>
                                <td>Champion name*: </td>
                                <td><input type="text" placeholder="Champion name..." @bind="newSkin.ChampionName"/></td>
                            </tr>
                            <tr>
                                <td>Skin name*: </td>
                                <td><input type="text" placeholder="Skin name..." @bind="newSkin.Name" /></td>
                            </tr>
                            <tr>
                                <td>Loading screen art URL*: </td>
                                <td><input type="text" placeholder="Splash art URL..." @bind="newSkin.SplashUrl" /></td>
                            </tr>
                            <tr>
                                <td>Cinematic art URL*: </td>
                                <td><input type="text" placeholder="Cinematic splash art URL..." @bind="newSkin.CinematicSplashUrl" /></td>
                            </tr>
                            <tr>
                                <td>Price*: </td>
                                <td><input type="number" placeholder="Price..." @bind="newSkin.Price" /></td>
                            </tr>
                            <tr>
                                <td>Quote: </td>
                                <td><input type="text" placeholder="Quote..." @bind="newSkin.Quote" /></td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="ClosePopup">Close</button>
                        <button type="submit" class="btn btn-primary">Add skin</button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
}

<h3>Admin Control Page</h3>
<br/>
<span>Click on the skin you wish to edit or</span>
<button class="btn btn-primary" @onclick="OpenPopup" >Add skin</button>
<br/>
<br/>
@foreach(Skin skin in skins)
{
    if(skins.Contains(skin))
    {
        <button class="btn btn-secondary" @onclick="() => GoToSkinEditingPage(skin)">@skin.Name</button>
        <button class="btn btn-danger" @onclick="() => DeleteSkin(skin)">DELETE</button>
        <br/>
        <br/>
    }
}



@code {
    List<Skin> skins = new List<Skin>();
    Skin clickedSkin = new Skin();
    Skin newSkin = new Skin();
    [Parameter]
    public string? SecretParam { get; set; }
    private bool popupIsOpen = false;


    protected override async Task OnInitializedAsync()
    {
        await GetSkins();
    }

    public async Task GetSkins()
    {
        skins = (List<Skin>)(await _skinRepository.GetAllAsync());
    }

    public void GoToSkinEditingPage(Skin skin)
    {
        NavManager.NavigateTo($"/SkinEdit/{skin.Id}/{SecretParam}");
    }

    public void DeleteSkin(Skin skin)
    {
        skins.Remove(skin);
        _skinRepository.DeleteAsync(skin.Id);
    }

    public void OpenPopup()
    {
        popupIsOpen = true;
    }

    public void ClosePopup()
    {
        popupIsOpen = false;
        newSkin = new Skin();
    }

    public void AddSkin()
    {
        if(CheckIfSkinIsValid())
        {
            int newId = skins.Last().Id + 1;
            newSkin.Id = newId;
            _skinRepository.AddAsync(newSkin);
            NavManager.NavigateTo(NavManager.Uri, true);
        }
    }

    public bool CheckIfSkinIsValid()
    {
        return newSkin.Price.HasValue &&
               !String.IsNullOrEmpty(newSkin.Name) &&
               !String.IsNullOrEmpty(newSkin.SplashUrl) &&
               !String.IsNullOrEmpty(newSkin.CinematicSplashUrl) &&
               !String.IsNullOrEmpty(newSkin.ChampionName);
    }
}