label {
    display: flex;
    background-color: plum;
    padding-left: 5px;
}

.fieldContainer {
    margin-top: 15px;
}

.boxOfChromas {
    float: left;
    margin: 10px;
    margin-left: 0px;
}

.individualChroma {
    background-color: antiquewhite;
    border-style: solid
}

.chromaButton {
    background: none;
    border: none;
}
