name: Build and Deploy Blazor app to Raspberry Pi

on:
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x' # or your version

    - name: Publish the app
      run: dotnet publish -c Release --framework net8.0 -o publish

    - name: Setup SSH
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
        chmod 600 ~/.ssh/id_ed25519
        ssh-keyscan -H ${{ secrets.HOST_IP }} >> ~/.ssh/known_hosts

    - name: Copy files to Raspberry Pi
      run: |
        rsync -avz --delete ./publish/ ${{ secrets.HOST_USER }}@${{ secrets.HOST_IP }}:/home/${{ secrets.HOST_USER }}/inzinerija/

    - name: Restart web server on Raspberry Pi
      run: |
        ssh ${{ secrets.HOST_USER }}@${{ secrets.HOST_IP }} "cd /home/${{ secrets.HOST_USER }}/inzinerija &&
        sudo systemctl restart inzinerija.service
        "
